.master-details {
    display: flex;
    margin: 0 auto;
    width: 100%;
    justify-content: center;

}

.master-section {
    flex: 1;
    min-width: 0;
}

.details-section {
    min-width: 250px;
    margin-left: 1rem;
    border: 1px solid var(--details-border);
}

.details-section:empty {
    display: none;
}

.details-section h3 {
    margin-top: 0;
}

.master-details:has(.details-section:not(:empty)) .master-section {
    flex: 0 0 65%;
}

nav {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
    margin-right: 1rem;
    align-items: baseline;
}

nav a {
    text-decoration: none;
    color: var(--text-color);
}

.controls {
    display: flex;
    gap: 1rem;
    justify-content: center;
}