.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.search-section, .result-section{
padding: 1rem;
margin: 10px;
}

.search-section{
  background-color:aquamarine;
}

.result-section{
  background-color: lightblue;
}